{% extends 'base' %}

{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section">
        <div class="container">
            <h4 class="header center white-text shadow-text text-lighten-2">Интерактивная система студенческой оценки<br>
                профессорско-преподавательского состава</h4>

            <div class="row center">
                {% if Account.isSignedIn() %}
                    <a href="{{ Route.url('evaluation:student') }}"
                       class="modal-trigger btn-large waves-effect waves-light blue darken-2">Приступить к оцениванию</a>
                {% else %}
                    <a href="#authModal"
                       class="modal-trigger btn-large waves-effect waves-light blue darken-2">Приступить к оцениванию</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="parallax"><img src="/app/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="grey lighten-5">
    <div class="container">
        <div class="section">

            <h4 class="header center black-text text-lighten-2">Какие критерии выбраны для оценки</h4>

            <p class="center black-text text-darken-2">Мы, студенты из Совета обучающихся по повышению качества образования, считаем, что лучший преподаватель - это преподаватель, который...</p>

            <div class="row">
                <ul class="collapsible" id="metrics" data-collapsible="accordion">
                    {% for Metric in Metrics %}
                        <li>
                        <div class="collapsible-header active">
                            <i class="material-icons">done</i>{{ Metric.Title }}
                            </div>
                        <div class="collapsible-body"><p>{{ Metric.Description }}</p></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="yellow z-depth-3">
    <div class="container">
        <div class="section grey-text text-darken-4">

            <h4 class="header center text-lighten-2">Кому может быть полезна система оценивания</h4>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h5 class="center">Преподавателям</h5>

                        <p class="light">Система позволяет преподавателям получать обратную связь от своих студентов. Результаты оценивания могут быть учтены преподавателем и стать фактором дополнительной мотивации для совершенствования своего мастерства.</p>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h5 class="center">Студентам</h5>

                        <p class="light">Студенту предоставляется возможность стать активным участником в процессе повышения качества своего образования, оценивая работу профессорско-преподавательского состава на своем структурном подразделении.</p>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h5 class="center">Руководителям</h5>

                        <p class="light">Благодаря системе руководители разных уровней также получают обратную связь о качестве преподавания от студентов и учитывают её в процессах разработки и принятия управленческих и кадровых решений.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="yellow darken-1 z-depth-2 grey-text text-darken-4">
    <div class="container">
        <div class="section">

            <h4 class="header center">Как рассчитывается рейтинговое значение</h4>
            <!--   Icon Section   -->
            <div class="row valign-wrapper">
                <div class="col l1 hide-on-med-and-down"><i class="material-icons medium darken-3 valign">assessment</i>
                </div>
                <div class="col l11 s12 m12"><p class=" light">
                        Рейтинг по каждому критерию подсчитывается с помощью формулы, которая выдает справделивые результаты как для малого, так и для достаточного большого числа студентов, отдавших свои голоса за преподавателей.
                        Итоговый рейтинг преподавателя подсчитывается как среднее арифметическое по всем критериям.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="yellow darken-2 z-depth-1">
    <div class="container">
        <div class="section">
            <div class="row valign-wrapper">
                <div class="col l1 hide-on-med-and-down">
                    <i class="material-icons medium darken-3 valign">date_range</i>
                </div>
                <div class="col l11 hide-on-med-and-down">
                    <h4 class="header center grey-text text-darken-4">Подведение итогов рейтинга производится в конце семестра</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="/app/js/landing/init.js"></script>
{% endblock %}