{% extends 'base' %}

{% block navigationMobile %}
    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
{% endblock %}

{% block navigationLarge %}
    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <h5 class="light center">Голосование за преподавателей Южного федерального университета</h5>
            <div class="row center light">
                <div class="col s8 offset-s2">
                Обращаем Ваше внимание, что данный процесс <b>полностью анонимен</b>.<br>
                Результаты голосования будут использоваться только в обобщенном виде.
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        {% for key in Teachers|keys %}
                            <li class="tab col s3 {% if loop.last %}active{% endif %}"><a href="#year-{{ key }}">{{ key }} - {{ key + 1 }} учебный год</a></li>
                        {% endfor %}
                        <li class="tab col s3"><a href="#evaluated">Оцененные преподаватели</a></li>
                    </ul>
                </div>
                {% for key in Teachers|keys %}
                    <script>
                        $(document).ready(function () {
                            teachersListInit({{ key }});
                        });
                    </script>
                    <div id="year-{{ key }}" class="col s12">
                        <input type="text" class="teachers-{{ key }}-search" placeholder="Начните вводить ФИО преподавателя..."/>
                        <ul class="collection teachers-{{ key }}-list teachers-list">
                            {% for teacher in Teachers[key] %}
                            <li class="collection-item" id="teacher-{{ teacher.ID }}">
                                <span class="Name">{{ loop.index }}. {{ teacher.Name }}</span>
                                <div class="secondary-content">
                                    {% if teacher.IsEvaluated == '1' %}
                                        <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Преподаватель уже оценён">done</i>
                                    {% else %}
                                        <a href="#evaluationModal" class="modal-trigger" data-id="{{ teacher.ID }}">
                                            <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Оценить преподавателя">plus_one</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="pagination teachers-{{ key }}-pagination"></ul>
                    </div>
                {% endfor %}
                <div id="evaluated" class="col s12">
                    <input type="text" class="evaluated-search" placeholder="Начните вводить ФИО преподавателя..."/>
                    <ul class="collection evaluated-list">
                        {% for teacher in Evaluated %}
                            <li class="collection-item" id="teacher-{{ teacher.ID }}">
                                <span class="Name">{{ loop.index }}. {{ teacher.Name }}</span>
                                <div class="secondary-content">
                                    <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Преподаватель уже оценён">done</i>
                                </div>
                            </li>
                        {% else %}
                            <li>Нет оцененных преподавателей</li>
                        {% endfor %}
                    </ul>
                    <ul class="pagination evaluated-pagination"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="evaluationModal" class="modal">
        <div class="modal-content">
            <p class="grey-text">Обращаем Ваше внимание, что оценить преподавателя можно только один раз.</p>
            <form action="#">
                {% for m in Metrics %}
                    <div class="small">
                        <input type="checkbox" class="filled-in" id="metric-{{ m.ID }}" name="metrics[]"/>
                        <label for="metric-{{ m.ID }}" class="black-text">{{ m.Title }}</label>
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-green btn-flat">Отмена</a>
            <a href="#!" id="submit" class="modal-action modal-close waves-green btn-flat">Оценить</a>
        </div>
    </div>

    <input type="hidden" id="teacherID" value="0">
    <input type="hidden" id="id" value="{{ User.ID }}">
    <input type="hidden" id="public_key" value="{{ User.Key }}">
    <input type="hidden" id="token" value="{{ User.Token }}">

    <div class="hiddendiv" id="evaluationDone"><i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Преподаватель уже оценён">done</i></div>
{% endblock %}

{% block head_scripts %}
    <script src="/app/js/evaluation/student.js"></script>
{% endblock %}

{% block scripts %}
    <script src="/app/js/evaluation/init.js"></script>
{% endblock %}