.page-notice {
  padding: 25px 15px;

  &--with-margin {
    margin-top: 20px;
  }

  &--notice {
    background: $blue;
  }

  &--warning {
    background: $blue;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__title {
    @include styled-link(white);
    margin-left: 8px;
    font-size: 1.3em;
  }

  &__text-content {
    text-align: center;
    max-width: 1200px;
    color: white;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }
}
