.page-section {
  $root: ".page_section";

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;

  z-index: 0;

  padding: 75px 20px;
  background: white;

  // Modifiers

  &--accented {
    color: white;
    background-color: shade($blue, 5%);
  }

  &--main {
    flex-direction: row;
    justify-content: space-around;

    @media(max-width: 850px) {
      flex-direction: column;
    }

    background-color: #fee882;
    background-image: image_url("newbg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
  }

  &--survey-header {
    background-color: #fee882;
    color: black;
  }

  &--raised {
    box-shadow: 0 -3px 15px 0 rgba(0, 0, 0, 0.1);
  }

  // Elements

  &__title {
    font-size: 2em;

    @media(max-width: 850px) {
      font-size: 1.6em;
    }
  }

  &__label {
    &--main {
      font-weight: normal;
      font-size: 2em;
    }

    &--sub {
      font-weight: normal;
      font-size: 1em;
    }
  }

  &__title-block {
    margin: 2 * $small-spacing;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 100%;

    padding: 0 10px;
    &--limited {
      max-width: 1000px;
    }

    &--justify {
      text-align: justify;
    }

    &--with-cards {
      max-width: 1300px;

      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
