.survey-form-question {
  padding-bottom: 15px;

  @include card;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 25px;

  &__option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__option-label {
    font-weight: normal;
  }

  &__option-text {
    width: 100%;
    input, textarea {
      width: 100%;
    }

    textarea {
      min-height: 100px;
    }
  }
}
