.traced-list {
  &__item {
    display: block;
    border-left: 3px solid $blue;
    padding: 5px 0;
    padding-left: 10px;
    width: 100%;
    &:not(:last-child) {
      margin: 0 0 0.75em;
    }
  }
  margin: 0 0 0.75em;
}
