.card
  h1 Не удалось загрузить список преподавателей
  p Мы знаем об этой проблеме. Пожалуйста, вернитесь на эту страницу позднее. Мы уже работаем над тем, чтобы Вы увидели
    список Ваших преподавателей.
