<%- if Flipper.enabled?(:azure_login) %>
  <div class="authorization-form">
    <h3 class="authorization-form__title">Вход в личный кабинет</h3>

    <%= form_tag user_azure_oauth2_omniauth_authorize_path, method: :post do %>
      <button class="btn authorization-form__submit-button" type="submit">Войти через Microsoft</button>
    <%- end %>
  </div>
<%- else %>
  <auth-form path="/sign_in" name="user[identity_url]">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </auth-form>
<%- end %>
