{% extends 'base' %}

{% block navigationMobile %}
    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
{% endblock %}

{% block navigationLarge %}
    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <h5 class="light center">{{ Message }}</h5>
            <div class="row center light">
                <div class="col s8 offset-s2">
                    {{ Description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}