<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Интерактивная система студенческой оценки профессорско-преподавательского состава</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/app/plugins/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/app/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="/app/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/app/plugins/Materialize/dist/js/materialize.js"></script>
    <script src="/app/plugins/list.js/dist/list.min.js"></script>
    <script src="/app/plugins/list.pagination.js/dist/list.pagination.min.js"></script>
    {% block head_scripts %}

    {% endblock %}

</head>
<body>

<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">ИССО ППС</a>
            <ul class="right hide-on-med-and-down">
                {% if Account.isSignedIn() %}
                    <li><a href="{{ Route.url('evaluation:student') }}">Мой кабинет</a></li>
                    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
                {% else %}
                    <li><a class="modal-trigger waves-effect waves-light blue darken-2 btn" href="#authModal">Авторизация</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="side-nav">
                {% if Account.isSignedIn() %}
                    <li><a href="{{ Route.url('evaluation:student') }}">Мой кабинет</a></li>
                    <li><a href="{{ Route.url('auth:logout') }}">Выход</a></li>
                {% else %}
                    <li><a class="modal-trigger waves-effect waves-light blue darken-2 btn" href="#authModal">Авторизация</a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer class="page-footer indigo lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Интерактивная система оценки качества преподавания</h5>
                <p class="grey-text text-lighten-4">Проект Совета обучающихся ЮФУ по повышению качества образования</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Ссылки</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://sfedu.ru/">Официальный сайт ЮФУ</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://vk.com/oso.sfedu">vk.com: ОСО ЮФУ</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://vk.com/sfedulifehacks">vk.com: Совет обучающихся по ПКО ЮФУ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4" href="http://sfedu.ru/">© 2016 Южный федеральный университет</a>
            <a class="grey-text text-lighten-4 right" href="http://vk.com/andrew.rudenets">Разработка и поддержка - Андрей Руденец</a>
        </div>
    </div>
</footer>

<div id="authModal" class="modal">
    <div class="modal-content">
        <form method="get" action="{{ Route.url('auth:login') }}">
            <h5>Вход в систему</h5>
            <input placeholder="Имя пользователя на stud.sfedu.ru" id="email" name="user" type="text" class="black-text">
            <div class="right-align">
                <a href="#!" class="modal-action modal-close btn-flat">Отмена</a>
                <input type="submit" class="modal-action modal-close btn green" value="Войти">
            </div>
        </form>
    </div>
</div>

<script>$(document).ready(function(){$(".modal-trigger").leanModal(),$('.button-collapse').sideNav()});</script>

{% block scripts %}

{% endblock %}

</body>
</html>
