css:
  .label {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.4em;
    font-weight: normal;
  }

.label
  = image_tag "logo.png"
  h1 Система анкетирования ЮФУ
  h2 Ведутся технические работы
