{% extends 'base' %}

{% block content %}
    <div class="container">
        <div class="section">
            <h4 class="center">Итоговый рейтинг преподавателей за осенний семестр 2014/2015</h4>
            <div class="row">
                <div class="col l8 m8">
                    <ul class="collection evaluated-list">
                        <table class="striped highlight">
                            <thead>
                            <tr>
                                <th data-field="id" class="center-align">#</th>
                                <th data-field="name">Фамилия, имя, отчество</th>
                                <th data-field="name">Подразделение</th>
                                <th data-field="price" class="center-align">Рейтинг</th>
                            </tr>
                            </thead>

                            <tbody>
                                {% for teacher in ['Вася', 'Петя', 'Миша', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида', 'Петя', 'Магомед', 'Ирестархий', 'Фарида'] %}
                                    <tr>
                                        <td class="center-align">{{ loop.index }}</td>
                                        <td>Ладно, я просто преподаватель {{ teacher }}</td>
                                        <td>Неплохой факультет</td>
                                        <td class="center-align">{{ 5.1 - loop.index/10 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </ul>
                    <ul class="pagination evaluated-pagination"></ul>
                </div>
                <div class="col l4 m4">
                    <div class="section">
                        <h5 class="center light">Уточнение результатов:</h5>
                        <ul class="filters" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header active"><i class="material-icons">done</i>Фильтр по критериям</div>
                                <div class="collapsible-body">
                                    <p>
                                        {% for metric in Metrics %}
                                                <input type="checkbox" class="filled-in" id="metric-{{ metric.ID }}" checked="checked" />
                                                <label for="metric-{{ metric.ID }}" class="black-text">
                                                    {{ Text.limit_chars(metric.Title, 55, null, true) }}
                                                </label>
                                        {% endfor %}
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">account_balance</i>Фильтр по подразделениям</div>
                                <div class="collapsible-body">
                                    <p>
                                        {% for f in Faculties %}
                                            <input type="checkbox" class="filled-in" id="faculty-{{ f.ID }}" checked="checked" />
                                            <label for="faculty-{{ f.ID }}" class="black-text">
                                                {{ f.Title }}
                                            </label>
                                        {% endfor %}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('select').material_select();
            $('.filters').collapsible({
                accordion : false
            });
        });
    </script>
{% endblock %}