.stage-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 767px) {
    flex-direction: column;
  }

  &__name {
    @media(max-width: 767px) {
      margin-bottom: 16px;
    }
  }
  &__action {
  }
}
