table {
  border-collapse: collapse;
  margin-bottom: 2 * $small-spacing;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 2px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 10px !important;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 10px !important;
}

tr,
td,
th {
  vertical-align: middle;
}
