.authorization {
  margin: 2em 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  &__text-field {
    color: black;
    width: 65%;
    margin-bottom: 0;
    margin-right: 10px;
  }

  &__submit-button {
    width: 35%;
    padding: 8px 10px;
  }

  @media(max-width: 425px) {
    flex-direction: column;
    align-items: center;

    &__text-field, &__submit-button {
      width: 90%;
      margin: 5px 0;
    }
  }
}
