.benefits {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-basis: 30%;
  flex-wrap: wrap;

  &__point {
    max-width: 350px;
    @include card;
  }

  &__title {
    padding: 5px 0;
    border-bottom: 3px solid $blue;
  }
}
