.page-notice {
  padding: 25px 15px;
  margin-top: 20px;
  background: $blue;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__title {
    @include styled-link(white);
    margin-left: 8px;
    font-size: 1.3em;
  }
}
