.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 10px;
  flex-direction: column;
  background: white;

  // Modifiers

  &--accented {
    color: white;
    background-color: shade($blue, 5%);
  }

  &--main {
    color: white;
    background-image: image_url("abstract-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
  }

  &--survey-header {
    //background: image_url('survey.png') center !important;
    background-color: #4E342E;
    color: white;
  }

  &--raised {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.45);
  }

  // Elements

  &__title {
    text-align: center;
    font-size: 2em;
  }

  &__label {
    &--main {
      text-align: center;
      font-weight: normal;
      font-size: 1.3em;
    }

    &--sub {
      text-align: center;
      font-weight: normal;
      font-size: 1em;
    }
  }

  &__content {
    padding: 0 10px;
    &--limited {
      max-width: 1000px;
    }

    &--justify {
      text-align: justify;
    }
  }
}
